<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-md-6 col-sm-12 mx-auto my-auto">
      <div class="card mb-3 shadow border" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-5 my-auto">
            <img src="../../../assets/undraw_secure_login_pdn4.png" class="img-fluid rounded-start bg-primary"
              alt="LoginLogo">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <form (ngSubmit)="login()" [formGroup]="loginForm" >
                <div class="form-group">
                  <input type="email"
                         class="form-control"
                         aria-describedby="helpId"
                         placeholder="&#xf0e0; Email"
                         style="font-family:Arial, FontAwesome"

                         formControlName="email"
                         [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                         >
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
                        <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password"
                         class="form-control"
                         aria-describedby="helpId"
                         placeholder="&#xf023; Password"
                         style="font-family:Arial, FontAwesome"
                         formControlName="password"
                         [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                         >
                  <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors?.['required']">password is required</div>
                      <div *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="mt-4">
                  <button type="submit"
                           class="btn btn-block bg-pirple text-light"
                           >Login
                  </button>
                </div>
                <div class="d-flex mt-1">
                  <hr>
                  <span>OR</span>
                  <hr>
                </div>
              </form>
              <span>Need an account? <a [routerLink]="['/register']">SIGN UP</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
